@model Person

<tr>
	<td>@Model.Name1</td>
	<td>@Model.Name2</td>
	<td>
		<a class="btn btn-light" asp-action="PeopleEdit" asp-route-id="@Model.Id">Edit</a>
		<a class="btn btn-danger" asp-action="PeopleDelete" asp-route-id="@Model.Id">Delete</a>
	</td>
</tr>